@import 'components/header';
@import 'components/footer';
@import 'components/card';

@import 'pages/home';

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
